.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 2.5rem;
    border-radius: 3.1rem;
    border: none;
    &:hover{
        background-color: rgb(161, 158, 158);
    }
}

.e-postiton{
    margin-top: -100px;
}
.e-font{
    font-size: 5rem;
}

.img-box-sm{
    width: 18.75rem;
    height: 21.875rem;
}
.borderr{
    border: 2px solid red;
}
h2{
    font-weight: 300;
}
.img-box-lg{
   width: 18.75rem;
   height: 38.125rem;
}